<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<!--  Show this only on mobile to medium screens  -->
  <a class="navbar-brand d-lg-none" href="#">Navbar</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<!--  Use flexbox utility classes to change how the child elements are justified  -->
  <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
{{!-- 
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul> --}}
    
    
<!--   Show this only lg screens and up   -->
    <a class="navbar-brand d-none d-lg-block" href="#" style="padding-left: 1%">IndexedDB - People Profiler</a>
    
    
    
    {{!-- <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul> --}}
  </div>
</nav>



<div class="container">

   <h2>Person Name</h2>
   <div class='row'>
      <div class='col-md-4'>
         <img height='250' width='250'/>
      </div>
      <div class='col-md-4'>
         <h3>Age:</h3>
         <h3>City:</h3>
         <h3>State:</h3>
         <h3>Company:</h3>
         <h3>Email:</h3>

      </div>
      <div class='col-md-4'>
         <h3>Gender:</h3>
         <h3>Phone:</h3>
         <h3>Zipcode:</h3>
         <h3>Latitude:</h3>
         <h3>Longitude:</h3>

      </div>
   </div>
  
   
   
      <h2>Profile Index</h2>
      <table class="table table-bordered table-striped table-responsive-stack" id="tableTwo">
      <thead class="thead-dark">
         <tr>
            <th>Title</th>
            <th>Hue</th>
            <th>Flavor</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>Brocolli</td>
            <td>Green</td>
            <td>Bitter</td>
         </tr>
         <tr>
            <td>Peas</td>
            <td>Green</td>
            <td>Mushy</td>
         </tr>
         <tr>
            <td>Lettuce</td>
            <td>Yellowish Green</td>
            <td>Crisp</td>
         </tr>

      </tbody>
   </table>
   
<p>Enter a zip code to find its city:</p>
Zipcode: <input id="zipcodeInput"/>
City: <output id="cityOutput"></output>


<p>Enter a city name (case sensitive, without state) to find cities and
their zipcodes:</p>
City: <input id="cityInput"></input>
<div id="zipcodesOutput"></div>

</div>
<button id='getAllButton'>getAll</button>
<div id="getAllOutput"></div>

</div>